{% extends "forms/fields/select/select.html.twig" %}

{% block global_attributes %}
  {#
  Direct use of templates/forms/default/field.html.twig
  in order to bypass force selectize-ation
  See https://github.com/getgrav/grav-plugin-form/issues/387
  #}
  data-grav-field="{{ field.type }}"
  data-grav-disabled="{{ toggleable and toggleableChecked }}"
  data-grav-default="{{ field.default|json_encode()|e('html_attr') }}"
{% endblock %}
