{# A display field which, by default also include a "required" switch #}

{% extends "forms/fields/display/display.html.twig" %}

{% block input %}
  {{ parent() }}

  {% if req_name %}
    {%
    include ["forms/fields/toggle/toggle.html.twig"] with {
	    value: data.value(req_name) | fieldName,
	    field: field | merge({
		    classes: "form-builder-is-required",
		    label: "Required",
		    name: req_name,
		    highlight: 1,
		    default: 0,
		    options: {
			    1: 'yes',
			    0: 'no'
		    }
	    })
    }
    %}
  {% endif %}
{% endblock input %}
