{% extends "forms/field.html.twig" %}

{% block input %}
  {% block prepend %}{% endblock prepend %}

  {% do assets.addJs('plugin://form-builder/js/gridstack.all.js', { 'priority': 50 }) %}

  {# {% do assets.addJs('plugin://form-builder/js/gridstack.js/src/gridstack-poly.js', { 'priority': 50 }) %} #}
  {# {% do assets.addJs('plugin://form-builder/js/gridstack.js/src/jquery.js', { 'priority': 50 }) %} #}
  {# {% do assets.addJs('plugin://form-builder/js/gridstack.js/src/gridstack.js', { 'priority': 50 }) %} #}
  {# {% do assets.addJs('plugin://form-builder/js/gridstack.js/src/jquery-ui.js', { 'priority': 50 }) %} #}
  {# {% do assets.addJs('plugin://form-builder/js/gridstack.js/src/gridstack.jQueryUI.js', { 'priority': 50 }) %} #}

  {% do assets.addJs('plugin://form-builder/js/forms/fields/form-builder.js', { 'priority': 2 }) %}
  {% do assets.addCss('https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css') %}
  {% do assets.addCss('https://cdn.jsdelivr.net/npm/gridstack@0.5.5/dist/gridstack.min.css') %}
  {% do assets.addCss('https://cdn.jsdelivr.net/npm/gridstack@0.5.5/dist/gridstack-extra.min.css') %}
  {% do assets.addCss('plugin://form-builder/js/forms/fields/form-builder.css') %}

  {#
  {% do assets.addJs('plugin://form-builder/node_modules/twig/twig.min.js') %}
  {% do assets.addJs('https://cdn.jsdelivr.net/npm/marked/marked.min.js') %}
  {% do assets.addJs('https://cdn.jsdelivr.net/npm/js-yaml@3.13.1/dist/js-yaml.min.js') %}
  {% do assets.addJs('plugin://form-builder/js/build/grav.field.min.js') %}
  #}

  {% do assets.addJs('https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js') %}

  {% set field_prefix = field.name | split('.') | slice(0, -1) | join('.') %}
  {# req_name: field_prefix ~ '._required.' ~ key #}
  {% set main_fields_value = value %}
  {% set value = null %}


  <script>
  var flavors = {{ field.flavors | default({}) | json_encode(constant('JSON_PRETTY_PRINT')) | raw }};
  var scope = {{ (scope ~ field_prefix) | fieldName | json_encode(constant('JSON_PRETTY_PRINT')) | raw }};
  </script>

  <div class="{{ form_field_wrapper_classes ?: 'form-input-wrapper' }} {{ field.size }} {{ field.wrapper_classes }}">

    {% if field.flavors | length %}
      <div class="row">
	<div>Predefined configurations</div>  
	{% for btn_name, flavor in field.flavors | default({}) %}
	  <button onClick="return distributeItems('#grid1', '#grid2', {{ flavor | json_encode(constant('JSON_PRETTY_PRINT')) }})">{{ btn_name }}</button> 
	{% endfor %}
      </div>
    {% endif %}

    <div class="row">
      {# 1) A generic field creator item #}
      {#
      <ion-icon class="newWidget" name="add-circle" style="font-size: 400%"></ion-icon>
      <input id="newElementId" type="text" name="element-id" placeholder="Element #id">
      <select id="newElementType" name="element-type">
	<option selected="selected" value="text">Text</option>
	<option value="checkbox">Checkbox</option>
      </select>
      #}
    </div>

    <div class="row">
      <div class="col-md-3">Available</div>
      <div class="col-md-9">Selected</div>
    </div>

    <div class="row">
      <div class="col-md-3 pt-3 pb-3 grid-stack grid-stack-1 available grid-stack-one-column-mode" data-gs-animate="true" data-gs-column="1" data-gs-max-row="{{ field.fields|length + 1 }}" id="grid1">

	{# 2) The predefined fields for which a custom-blueprint exist, created by the blueprint. #}
	{% for key, item in field.fields %}
	  <div class="grid-stack-item" data-key="{{ key }}">
	    <div class="grid-stack-item-content">
              {% if item.type %}
		{# Not supported because other than placement we have no clue about what this field represent #}
		{% include ["forms/fields/#{item.type}/#{item.type}.html.twig", "forms/fields/text/text.html.twig"] with {field: item, value: data.value(key)} %}
              {% elseif item.fields %}
		{% include ["forms/fields/section/section.html.twig"] with {field: item, value: data.value(key)} %}
	      {% else %}
		{% include ["forms/fields/form-builder-default-input/form-builder-default-input.html.twig"] with {
			field: item | merge({name: field_prefix ~ '.' ~ key})
		} %}
              {% endif %}
	    </div>
	  </div>
	{% endfor %}

	{#
	ToDo: There should exist:
	3) The fields created by the user during previous submissions, and possibly disabled for now.
	#}

      </div>

      <div class="col-md-9 pt-3 pb-3 grid-stack grid-stack-2 used" id="grid2" data-gs-animate="true" data-gs-column="2">
      </div>
      {# `field.html.twig` automatically convert to Yaml object when validate.type == "yaml"... which must always be the case of a form-builder field #}
      <input data-grav-field="hidden" class="input gridstack-store" data-grav-disabled="false" type="hidden" name="{{ (scope ~ field.name)|fieldName }}" value="{{ main_fields_value | json_encode | e('html_attr') }}" />
    </div>

  </div>

{% endblock input %}
