#grid2 {
    background-color: lightcyan;
}

.grid-stack {
    min-height: 100px;
    background-color: lightgoldenrodyellow;
}

.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background-color: #18bc9c;
}

#grid2 .grid-stack-item-content {
    background-color: #9caabc;
}

.grid-stack-item-removing {
    opacity: 0.5;
}

/* Allow selectize & co within cells to overflow */
.grid-stack > .grid-stack-item > .grid-stack-item-content {
    overflow-x: visible;
    overflow-y: visible;
}

.grid-stack-item-content .form-field {
    padding-left: 1px;
    margin-bottom: 1px;
}

.grid-stack-item-content .form-data {
    padding-right: initial;
}
/*
.grid-stack-item-content label.inline {
    margin-right: initial;
}
*/

#newElementId, #newElementType {
    width: 30%;
}
